<a href="https://colab.research.google.com/github/hafsyahpn10/Ramenratings/blob/main/Ramen_Ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ramen Ratings**
By : Hafsyah Putri Nabila

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/hafsyahpn10/Ramenratings/main/ramen-ratings.csv')

In [7]:
data.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

Hapus Duplikasi Data

In [11]:
data[data.duplicated()]

Empty DataFrame
Columns: [Review #, Brand, Variety, Style, Country, Stars, Top Ten]
Index: []

In [32]:
data.drop_duplicates(inplace = True)

Replace United States ke USA dan Holland ke Netherlands

In [33]:
data.replace(to_replace={'United States':'USA','Holland':'Netherlands'},inplace=False)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [34]:
data[(data['Country']=='United States') & (data['Country']=='Holland') ]

Empty DataFrame
Columns: [Review #, Brand, Variety, Style, Country, Stars, Top Ten]
Index: []

Melihat Nilai Null

In [42]:
data.isnull().sum()

Review #       0
Brand          0
Variety        0
Style          2
Country        0
Stars          0
Top Ten     2539
dtype: int64

In [41]:
data['Style'].unique()

array(['Cup', 'Pack', 'Tray', 'Bowl', 'Box', 'Can', 'Bar', nan],
      dtype=object)

Mengahapus nilai null

In [46]:
data_baru=data.dropna()

In [48]:
data_baru.isnull().sum()

Review #    0
Brand       0
Variety     0
Style       0
Country     0
Stars       0
Top Ten     0
dtype: int64

In [50]:
data.to_csv('Ramen_Ratings.csv',index=False)